/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

body {
  box-sizing: border-box;
}

  *::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  *::-webkit-scrollbar-track {
    background: none;
  }

  *::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 5px;
  }

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem #000000;
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

h1.header {
  width: 300px;
  margin: auto;
  font-weight: 400;
}

.rainbow {
  text-transform: uppercase;
  background: linear-gradient(to right, #000 25%, #ffff00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*********************** Tag Input ***********************/
.tags-container {
  line-height: 1.75;
  overflow-x: hidden;
  overflow-wrap: break-word;
  word-spacing: normal;
  word-break: break-all;
  line-break: auto;
  max-width: 100%;
  height: auto;
  max-height: 160px;
  padding: 0.5em;
}

  .tags-container input {
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin: 0;
    max-width: inherit;
    outline: none;
    padding: 0 6px;
    width: auto;
  }

  .tags-container .tag {
    position: relative;
    padding-right: 24px;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 0.4em;
    font-size: 85%;
    margin-left: 0.25rem;
  }

  .tags-container .tag-remove {
    position: absolute;
    top: 5px;
    cursor: pointer;
    padding-left: 6px;
    font-style: normal;
    font-family: Dejavu Sans;
  }

  .tags-container.disabled {
    background-color: #e9ecef;
    opacity: 1;
  }

    .tags-container.disabled .tag {
      padding-right: 0.4em;
    }
/*********************** Tag Input ***********************/
