@page
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}

<div class="text-center">
  <h1 class="display-2 header rainbow">Whois</h1>
  <p>Multiple Domain Name Search</p>
  <input id="tags" data-role='tags-input' value="tag">
</div>

@section Scripts
{
  <script>
    $(document).ready(function () {
      $('[data-role="tags-input"]').tagsInput();
    });
  </script>
}